<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">



<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 사용자 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
        var a =  [[${obo_secretPass.no}]];
        var input = prompt("비밀번호를 입력하세요");
        var SecretPass = [[${obo_secretPass.secretPass}]];
        if(input == SecretPass){
            alert('상세페이지로 넘어갑니다.');
            location.href = "obo_Detail?no="  + a;
        }else{
            alert('비밀번호가 틀립니다. 다시 입력하세요');
            location.href = "obo_List";
        }
        </script>
    </th:block>
</head>
<div layout:fragment="content">
(no=${OneByOne?.no})
</div>

</html>