<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>


</head>
<footer th:fragment="footerFragment">
    <div id="footer">
        <div id="footer01" align="center">
            <div id="footer04">
                <ul class="foot01">
                    <li class="foot01_1">개인정보취급방침&nbsp;</li>
                    <li class="foot01_1 foot01_1_1">&nbsp;이용약관&nbsp;</li>
                    <li class="foot01_1 foot01_1_2">&nbsp;이메일부단수집거부</li>
                </ul>
            </div>
            <div>
                <ul class="foot01">
                    <li class="foot01_1">(주) 주 당</li>
                    <li class="foot01_1 foot01_1_1">대표 : 송치국</li>
                    <li class="foot01_1 foot01_1_2">사업자등록번호 : 000-00-000</li>
                </ul>
            </div>
            <div>
                <ul class="foot01">
                    <li class="foot01_1">주소 : 서울시 금천구 가산동 112 (주)주</li>
                    <li class="foot01_1 foot01_1_1"> 전화번호: 02-000-000</li>
                </ul>
            </div>
            <div>
                <ul class="foot01">
                    <li class="foot01_1">통신판매업신고:2022-서울금천구-0001</li>
                    <li class="foot01_1 foot01_1_1"> 개인정보관리책임자 : 백주현</li>
                </ul>
            </div>
            <P>Copyrightⓒ2022 JOODANG.ALL Rights Reserved.</P>
            <P>Design by Hailey</P>
        </div>
    </div>

    <a href="#" class="btn_gotop btn-lg"><span
            class="glyphicon glyphicon-chevron-up"></span>
    </a>
</footer>
</html>