<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<header th:fragment="headerFragment">
    <!--header 영역-->
    <div class="container-fluid bg common_header">
        <div class="row">
            <div class="main_header">
                <a id="logoImg" href="/">
                    <img id="mainLogo" src="https://ifh.cc/g/B6r4Q5.png">
                </a>
                <nav>
                    <div class="right_menu_div">
                        <!-- 미로그인 상태 -->
                        <div sec:authorize="isAnonymous()">
                            <!-- 로그인 페이지로 이동 -->
                            <a class="right_menu" href="/member/meLogin">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <!-- 회원가입 페이지로 이동 -->
                            <a class="right_menu" href="/member/meInsertFirst">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <!-- 로그인 페이지로 이동 -->
                            <a class="right_menu" href="/member/meLogin">
                                <span class="glyphicon glyphicon-log-in"></span>
                            </a>
                        </div>

                        <!-- 고객 로그인 상태 -->
                        <div sec:authorize="isAuthenticated()">
                            <!-- 장바구니 페이지로 이동 -->

                            <!-- 추후 수정 -->
                            <a class="right_menu" href="/cart">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <!-- 마이 페이지로 이동 -->
                            <a class="right_menu" href="/member/meMypage">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <!-- 로그 아웃 하고 메인페이지로 이동 -->
                            <a class="right_menu" href="/member/meLogout">
                                <span class="glyphicon glyphicon-log-out"></span>
                            </a>
                        </div>


                    </div>
                </nav>
            </div>
            <div id="navDiv" class="navbar">
                <div class="container-fluid text-center dropdown">
                    <ul class="nav navbar-nav navbar-collapse" id="abc">
                        <li class="active nav-item">
                            <a class="navbarClass dropdown-toggle-story" data-toggle="dropdown"
                               href="#">전통주 이야기</a>
                            <ul class="dropdown-menu">
                                <li><a href="/story/history">전통주 역사</a></li>
                                <li class="divider"></li>
                                <li><a href="/story/compare">전통주 비교</a></li>
                                <li class="divider"></li>
                                <li><a href="/story/eat">전통주 먹는 법</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="navbarClass dropdown-toggle-product" data-toggle="dropdown"
                               href="/productPage/totalproduct">전통주 장터</a>
                            <ul class="dropdown-menu">
                                <li><a href="/productPage/totalproduct">전통주 장터</a></li>
                                <li class="divider"></li>
                                <li><a href="/productPage/riceWine">탁주</a></li>
                                <li class="divider"></li>
                                <li><a href="/productPage/chengju">청주/약주</a></li>
                                <li class="divider"></li>
                                <li><a href="/productPage/fruitWine">과실주</a></li>
                                <li class="divider"></li>
                                <li><a href="/productPage/liquor">증류주</a></li>
                                <li class="divider"></li>
                                <li><a href="/productPage/alcoholic">기타 주류</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="navbarClass dropdown-toggle-commuity" data-toggle="dropdown"
                               href="/relishPage/totalrelish">커뮤니티</a>
                            <ul class="dropdown-menu">
                                <li><a href="/relishPage/totalrelish">전통주에 어울리는 안주</a></li>
                                <li class="divider"></li>
                                <li><a href="/brewagePage/brewageList">전통주 빚기</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="navbarClass dropdown-toggle-service" data-toggle="dropdown"
                               href="#">고객센터</a>
                            <ul class="dropdown-menu">
                                <li><a href="/faq">FAQ</a></li>
                                <li class="divider"></li>
                                <li><a href="/announcement/anno_List">공지사항</a></li>
                                <li class="divider"></li>
                                <li><a href="/OneByOne/obo_List">1:1문의</a></li>
                                <li class="divider"></li>
                                <li><a href="/way_to_come">오시는길</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
</html>